

.board {
    margin: 0 auto;
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: none;
    gap: 4px;
    padding: 0;
    background: violet ;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: none;
    background: #2b2d42;
    cursor: pointer;
}